.container {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	background-color: var(--white);
	padding: 2.4rem 3.2rem 3.2rem 3.4rem;
	border-radius: 10px;
}

.container footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-comment-title {
	color: var(--navy);
	font-size: 1.8rem;
}
.add-comment-character-limit {
	margin-top: 0.3rem;
	font-size: 1.5rem;
	color: var(--navy-light);
}

@media only screen and (max-width: 580px) {
	.add-comment-character-limit {
		font-size: 1.3rem;
	}
}
