.container {
	display: flex;
	gap: 3.2rem;
}

.reply-container {
	margin-top: 1.5rem;
}

.avatar {
	border-radius: 50%;
}
.comment {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	gap: 1.7rem;
}
.reply-link {
	color: var(--blue);
	font-weight: 700;
	text-decoration: none;
	font-size: 1.3rem;
}

.reply-link:hover,
.reply-link:active {
	text-decoration: underline;
}

.replying-to {
	color: var(--purple);
	font-weight: 700;
}
.comment-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.author-details {
}
.comment h3 {
	color: var(--navy);
	font-size: 1.4rem;
}
.comment h4 {
	color: var(--navy-light);
	font-size: 1.4rem;
	font-weight: 400;
}

.comment p {
	color: var(--navy-light);
	font-size: 1.5rem;
}

.comment-reply-form {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.comment-reply-form--show {
	visibility: visible;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 580px) {
	.container {
		gap: 1.6rem;
	}

	.comment {
		gap: 1.6rem;
	}

	.comment h3 {
		font-size: 1.3rem;
	}

	.comment h4 {
		font-size: 1.3rem;
	}

	.comment p {
		font-size: 1.3rem;
	}
}
