div.container {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	padding-top: 9.4rem;
	padding-bottom: 18rem;
	margin: 0 auto;
	width: 85vw;
}

.column-header--mobile-active {
}

.roadmap-filter--mobile {
	display: none;
}

.roadmap-banner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: var(--navy);
	padding: 2.7rem 4rem 2.7rem 3.2rem;
	border-radius: 10px;
	color: #fff;
}

.roadmap-banner-text {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.roadmap-banner-text h1 {
	font-size: 2.4rem;
	font-weight: 700;
}

.roadmap-board {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
}
.roadmap-column {
	display: flex;
	flex-direction: column;

	gap: 2.4rem;
}

.column-header {
	display: flex;
	flex-direction: column;

	margin-bottom: 0.8rem;
}

.column-header h2 {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.25px;
	color: var(--navy);
	text-transform: capitalize;
	line-height: 2.6rem;
}

.column-header .definition {
	color: var(--navy-light);
	font-size: 1.6rem;
}

.roadmap-cell {
}

@media only screen and (max-width: 768px) {
	div.container {
		margin: 5.6rem 3.9rem 9.5rem 3.9rem;

		padding: unset;
		width: calc(100vw - 7.8rem);
	}

	.roadmap-board {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
	}

	.roadmap-banner {
		width: 100%;

		padding: 2.7rem 3.2rem 2.7rem 3.2rem;
		border-radius: 10px;
		color: #fff;
	}

	.roadmap-banner h1 {
		font-size: 2.4rem;
	}

	.column-header h2 {
		font-size: 1.4rem;
	}

	.column-header .definition {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 580px) {
	div.container {
		padding: 0;
		margin: 0;
		width: 100vw;

		gap: 0;
	}

	.roadmap-banner {
		border-radius: 0;
	}

	.roadmap-banner-text h1 {
		font-size: 1.8rem;
		font-weight: 700;
	}

	.roadmap-board {
		padding: 2.4rem;
	}

	.roadmap-column {
		display: none;
	}

	.roadmap-column--active {
		display: flex;
		grid-column: 1/-1 !important;
	}

	.column-header--mobile {
		color: var(--navy-light);
	}

	.roadmap-filter--mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* padding: 2rem 0; */
		border-bottom: 1px solid rgba(140, 146, 179, 0.25);
	}

	.roadmap-filter--mobile-heading {
		text-transform: capitalize;
	}
	.roadmap-filter--mobile-heading h2 {
		color: var(--navy-light);
		font-size: 1.3rem;
		padding: 2rem;
		opacity: 0.4;
	}
	.roadmap-filter--mobile-heading h2.active {
		color: var(--navy);
		font-weight: 700;
		opacity: 1;
	}
	.roadmap-filter--mobile-heading h2.active.purple {
		border-bottom: 4px solid var(--purple);
	}
	.roadmap-filter--mobile-heading h2.active.orange {
		border-bottom: 4px solid var(--orange);
	}
	.roadmap-filter--mobile-heading h2.active.blue {
		border-bottom: 4px solid var(--blue-light);
	}

	.column-header--mobile-active {
	}
}
