textarea.input {
	resize: none;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	width: 100%;
}

.input {
	display: inline-block;
	min-width: 25rem;

	border-radius: 5px;
	padding: 1.3rem 2.4rem;
	border: none;

	font-size: 1.5rem;

	background-color: var(--grey-light);
	color: var(--navy);
}

.input:focus {
	border: 1px solid var(--blue);
	outline: none;
}

.error,
.error:focus {
	border: 1px solid var(--red);
}

.error-message {
	position: absolute;
	left: 0;
	top: 100%;
	color: var(--red);
}

@media only screen and (max-width: 580px) {
	.input {
		min-width: unset;
	}
}
