.tag {
	color: var(--blue);
	font-weight: 700;
	font-size: 1.3rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--tag-grey);
	padding: 0.5rem 1.6rem;
	border-radius: 1rem;

	text-transform: capitalize;
}

.tag:hover {
	background-color: var(--tag-grey-hover);
	cursor: pointer;
}

.tag.active {
	background-color: var(--blue);
	color: var(--white);
}

.text {
	text-align: center;
	font-size: 1.3rem;
}
