.navigate-back {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}
.navigate-back a {
	text-decoration: none;
	font-weight: 700;
	color: var(--navy-light);
}

.navigate-back a:hover,
.navigate-back a:active {
	text-decoration: underline;
}

.navigate-back--white a {
	color: #fff;
}
