@value suggestion-list-item--tile from "../suggestion/SuggestionListItem.module.css";

.suggestion-list-item--tile .status-status {
	text-transform: capitalize;
	color: var(--navy-light);
}

.status-item {
	display: flex;
	justify-content: space-between;
}
.status-status {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.status-icon {
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: var(--purple);
}
.status-count {
	font-weight: 700;
	line-height: 2.3rem;
}

.orange {
	background-color: var(--orange);
}

.blue {
	background-color: var(--blue-light);
}
.purple {
	background-color: var(--purple);
}

@media only screen and (max-width: 768px) {
	.suggestion-list-item--tile .status-status {
		font-size: 1.3rem;
	}
}

@media only screen and (max-width: 580px) {
}
