.suggestion-list-item {
	display: flex;
	align-items: flex-start;

	gap: 4rem;
	width: 100%;

	padding: 2.8rem 3.2rem;

	background-color: var(--white);
	border-radius: 1rem;
}
.suggestion-list-item-content {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
.suggestion-title {
	font-size: 1.8rem;
	font-weight: 700;
	text-decoration: none;
	color: var(--navy);
}
.suggestion-title:hover {
	color: var(--blue);
}
.suggestion-description {
	color: var(--navy-light);
}
.suggestion-tag-list {
	display: flex;
	margin-top: 0.8rem;
}
.comments {
	display: flex;
	align-items: center;
	gap: 0.8rem;

	margin-top: 3.6rem;
}
.suggestion-comments-count {
	color: var(--navy);
	font-weight: 700;
}

@media only screen and (max-width: 768px) {
	.suggestion-description {
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 580px) {
	.suggestion-title {
		font-size: 1.3rem;
	}
	.suggestion-description {
		font-size: 1.3rem;
	}
}
