.container {
	max-width: 54rem;

	margin: 0 auto;

	display: flex;
	flex-direction: column;

	gap: calc(4rem + (var(--feedback-form-icon-height) / 2));
}

.feedback-form {
	padding: 5.2rem 4.2rem 4rem;

	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	background-color: var(--white);
	border-radius: 1rem;

	position: relative;
}

.feedback-form h1 {
	color: var(--navy);
	font-weight: 700;
	margin-bottom: 1.6rem;

	letter-spacing: -0.333px;
}

.form-icon {
	position: absolute;
	height: var(--feedback-form-icon-height);
	width: var(--feedback-form-icon-height);

	top: 0;
	left: 0;

	transform: translate(75%, -50%);

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;

	background: radial-gradient(
		128.88% 128.88% at 103.9% -10.39%,
		#e84d70 0%,
		#a337f6 53.09%,
		#28a7ed 100%
	);
}

.form-btn-panel {
	display: flex;
	gap: 1.6rem;
	justify-content: flex-end;

	margin-top: 0.8rem;
}
